/*change apply to all pages*/
.item{
	border-color:#ccc;
}

.bar-stable .button.button-icon {
	color:white;
}

.button-bar .button.button-stable {
	background-color: orange;
	color:white;
	border-width: 2px 2px 2px 2px;
	border-color:white;
}

.bar.bar-stable, .item-divider{
	background-color: orange;
	color:white;
	border:0;
}

.bar-stable .button{
	color:white;
}

.bar.bar-stable .title, .bar-stable .button.button-clear, .button.button-stable {
	color:white;
	font-weight:bold;
}

#edit-btn span{
	font-size:30px;
}
#divider span{
	display: inline;
}

#addParticipantBtn{
	position: absolute;
	display: inline;
	right: 0;
	top:-5px;
}

#addParticipantBtn span{
	font-size: 20px;
}

/*event list view*/
.event-row .icon.ion-ios7-location{
	padding-right: 5px;
}


/* event participants view */
#part-popover{
	width: 200px;
	height:120px;
}

#part-popover ion-item{
}

/*task side menu*/
.selectedTask .item-content{
	background-color: orange;
	color:white;
}
/*#E3AB10*/
/*check circle in each row */
.ion-checkmark-circled, .ion-ios7-circle-outline{
	font-size: 20px;
	padding-right: 5px;
	color:blue;
}

#menu-toggle{
	width:50px;
	height:50px;
	border-radius:20px;
	color:#FFF;
	background:#E3AB10;
	position:fixed;
	top: 200px;
	left: -20px;
	z-index: 2000;
	display: table;
	padding-left: 10px;
	box-shadow: 0px 2px 2px #888888;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateZ(0);
}

.participants-row, .task-row{
	padding: 0;
}

.task-row .item-content{
	padding: 0;
}

.task-row-inner{
	padding:20px;
	display: inline-block;
}


.participants-row-inner{
	padding:5px;
	display: inline-block;
}




/* event detail*/
#eventDetailList{
	font-size: 20px;
}

#titleInput input{
	font-size:30px;
	height: 50px;
}




/*event task*/
#edit-participant-btn{
	font-weight: bold;
	margin:60px auto;
	font-size: 18px;
	width: 70%;
	border-width:0;
	border-radius:10px;
}

.participants-row, .event-row{
	padding-left: 10px;
}

.participants-row .icon{
	font-size: 22px;
}

.icon.ion-checkmark-circled  {
	color:grey;
}

.icon.ion-ios7-circle-outline {
	color: red;
}

.edit-mode .icon.ion-checkmark-circled {
	color:#5E79FF;
}

.squeezed-content{
	margin-left: 20px;
}

