/*change apply to all pages*/
.item{
	border-color:#ccc;
}



.button-bar .button.button-stable {
	color:orange;
	border-width: 2px 2px 2px 2px;
	border-color:white;
}

.bar.bar-stable {
	background-color: #222;
	color:orange;
	border:0;
}

.item-divider{
	background-color: orange;
	color:white;
	border:0;
}

.bar-stable .button{
	color:white;
}


.bar.bar-stable .title, .bar-stable .button.button-clear, .button.button-stable, .bar-stable .button.button-icon {
	color: orange;
	font-weight:bold;
}

.bar-stable .button.button-clear:active{
	color:;
}

#edit-btn span{
	font-size:30px;
}

#divider span{
	display: inline;
}

#addParticipantBtn{
	position: absolute;
	display: inline;
	right: 0;
	top:-5px;
}

#addParticipantBtn span{
	font-size: 20px;
}


/*welcome page*/
#welcome-center{
	position: relative;
	top:15%;
}

#welcome-center img{
	height:100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#welcome-title{
	color:white;
	font-family: 'Roboto', sans-serif;	font-size: 30px;
	text-align: center;
	padding-bottom:80px; 

}

#login-btn {
	background-color: orange;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border:0;
	width:90%;
	max-width:300px;
	border-radius: 6px;
	margin-left: auto;
	margin-right: auto;
	/*box-shadow: 0px 1px 10px #AAA;*/
}	

#welcome-page{
	/*background-color: orange;*/
	background-image: url('../img/cooperate_blur2.jpg');
	background-position: center;
	background-size: 170%;
}


/*event list view*/
.event-row .icon.ion-ios7-location{
	padding-right: 5px;
}

.event-row span{
	font-size: 12px;
}

.event-row h2{
	font-size: 22px;
}

/* event participants view */
#part-popover{
	width: 200px;
	height:120px;
}

/*task side menu*/
.selectedTask .item-content{
	background-color: orange;
	color:white;
}
/*#E3AB10*/
/*check circle in each row */
.ion-checkmark-circled, .ion-ios7-circle-outline{
	font-size: 20px;
	padding-right: 5px;
	color:blue;
}

#menu-toggle{
	width:50px;
	height:50px;
	border-radius:20px;
	color:#FFF;
	background:orange;
	position:fixed;
	top: 200px;
	left: -20px;
	z-index: 2000;
	display: table;
	padding-left: 10px;
	box-shadow: 0px 2px 2px #888888;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateZ(0);
}

/*.participants-row, .task-row{
	padding: 0;
}*/
.participants-divider{
	border-width: 0;
	padding: 0 0 0 0;
	background-color: #222;
}


button.participants-btn{
	font-weight: bold;
	border-width:0;
	background-color: #222;
	color:orange;
	width: 48%;
	height: 45px;
	border-width: 0 0 5px 0;
	border-color:transparent;
}


button.participants-btn.active{
	color: #FFCE6D;
	border-style: solid;
	border-color: #FFCE6D; 

}

.participants-row .highlighted{
	font-weight: bold;
	font-size: 22px;
}

.participants-row label.editable, .participants-row .icon.ion-edit{
	color: #5E79FF;
}


.participants-row hr{
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 0; 
    padding: 0;
}

.participants-row .mc-info{
	color:#E3AB10;
	float: right;
}

/*.task-row .item-content{
	padding: 0;
}
*/
.task-row-inner{
	padding:20px;
	display: inline-block;
}


.participants-row-inner{
	padding:5px;
	display: inline-block;
}




/* event detail*/
#eventDetailList{
	font-size: 20px;
}

#eventDetailList .item.item-divider{
	min-height:10px;
}

#titleInput input{
	font-size:30px;
	height: 50px;
}

.item .info-label{
	font-weight: bold;
	color:#555;
}

.item p{
	font-size:16px;
	color:#222;
}

.row p{
	padding-top: 5px;
}

.row{
	padding: 0;
}

.item-input.search{
	background-color: #DDD;
	border-radius: 5px;
	margin: 4px 8px 4px 8px;
	padding: 0 5px 0 25px;
}


/*event task*/
#participants-btn{
	margin-top: 0;
	padding-top: 5px;
}

#participants-btn span.label {
	padding-left: 40px;
	position:absolute;
	left:0px;
	text-decoration: none;
	font-size:16px;
	font-weight: bold;
	color:#5E79FF;
}

#participants-btn span.icon{
	position: absolute;
	right:20px;
	bottom:-4px;
	margin:0 0 3px 5px;
	font-size: 24px;
	color:grey;
}

.participants-row, .event-row, .item-stacked-label{
	padding-left: 30px;
}

.participants-row .icon{
	font-size: 22px;
}

.icon.ion-checkmark-circled  {
	color:grey;
}

.icon.ion-ios7-circle-outline {
	color: red;
}

.edit-mode .icon.ion-checkmark-circled {
	color:#5E79FF;
}

.squeezed-content{
	margin-left: 0px;
}


/******input form*/
.platform-ios input[type="datetime-local"], .platform-ios input[type="date"], .platform-ios input[type="month"],
 .platform-ios input[type="time"], .platform-ios input[type="week"], .platform-android input[type="datetime-local"],
  .platform-android input[type="date"], .platform-android input[type="month"], .platform-android input[type="time"],
   .platform-android input[type="week"] {
	padding-top: 0px;
}
