/*change apply to all pages*/
.bar.bar-stable{
	background-color: #E3AB10;
	color:white;
	border:0;
}

.bar-stable .button{
	color:white;
}

.bar.bar-stable .title, .bar-stable .button.button-clear{
	color:white;
	font-weight:bold;
}

#edit-btn span{
	font-size:30px;
}
#divider span{
	display: inline;
}

#addParticipantBtn{
	position: absolute;
	display: inline;
	right: 0;
	top:-5px;
}

#addParticipantBtn span{
	font-size: 20px;
}

/* event participants view */
#part-popover{
	width: 200px;
	height:120px;
}

#part-popover ion-item{
}

/*task side menu*/
.selectedTask .item-content{
	background-color: #E3AB10;
	color:white;
}

/*check circle in each row */
.ion-checkmark-circled, .ion-ios7-circle-outline{
	font-size: 20px;
	padding-right: 5px;
	color:blue;
}

#menu-toggle{
	width:50px;
	height:50px;
	border-radius:20px;
	color:#FFF;
	background:#AA3;
	position:fixed;
	top: 200px;
	left: -20px;
	z-index: 10;
	display: table;
	padding-left: 10px;
	box-shadow: 0px 2px 2px #888888;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.participants-row{
	padding: 0;
}

.task-row-inner{
	padding:20px;
	display: inline-block;
}


.participants-row-inner{
	padding:5px;
	display: inline-block;
}

.red-signal {
	position: absolute;
	right: 0;
	background-color: red;
	width: 10px;
	height: 100%;
	display: inline-block;

}


/* event detail*/
#eventDetailList{
	font-size: 20px;
}

#titleInput input{
	font-size:30px;
	height: 50px;
}

#edit-participant-btn{
	font-weight: bold;
	margin:60px auto;
	font-size: 18px;
	width: 70%;
	border-width:0;
	border-radius:10px;
}



/*animated ion item in ion list with animation when ng-show / ng-hide*/
.item-animate.ng-hide-add, .cssFade.ng-hide-remove {
    /* ensure visibility during the transition */
    display: block!important; /* yes, important */
}


.item-animate.ng-hide-add {
  -webkit-animation:0.2s hide;
  animation:0.2s hide;
}

@keyframes hide {
  from { height: 40px; }
  to { height: 0; }
}

@-webkit-keyframes hide {
  from { height:  40px; }
  to { height: 0; }
}

.item-animate.ng-hide-remove {
  -webkit-animation:0.2s show;
  animation:0.2s show;
}

@keyframes show {
  from { height: 0; }
  to { height: 40px; }
}

@-webkit-keyframes show {
  from { height: 0; }
  to { height: 40px; }
}