<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Add Event</h1>
	</ion-header-bar>

	<ion-content>
		<div class="card">
			<div class="item item-divider">
				Event Name
			</div>
			<div class="item item-text-wrap">
				<input type="text" placeholder="Event Name">
			</div>

			<div class="item item-divider">
				Event Description
			</div>
			<div class="item item-text-wrap">
				<textarea type="text" placeholder="Details of the event..." rows="5"></textarea>
			</div>
			<div class="item item-divider">
				Event Venue
			</div>
			<div class="item item-text-wrap">
				<input type="text" placeholder="Event Venue">
			</div>

			<div class="item item-divider">
				Starting Date
			</div>
			<div class="item item-text-wrap">
				<input type="date" placeholder="Starting Date">
			</div>

			<div class="item item-divider">
				Ending Date
			</div>
			<div class="item item-text-wrap">
				<input type="date" placeholder="Ending Date">
			</div>

			<div class="item item-divider">
				Students Needed
			</div>
			<div class="item item-text-wrap">
				<input type="text" placeholder="Number and Types of Students Needed">
			</div>

			<div class="item item-divider">
				Student Reporting Time
			</div>
			<div class="item item-text-wrap">
				<input type="text" placeholder="Event Venue">
			</div>

		</div>
	</ion-content>
</ion-modal-view>