<ion-view >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">{{activeGroup.title}} - Events</h1>
    <button class="button button-icon ion-plus" ng-click="newEvent()"></button>
  </ion-nav-buttons>

	<ion-content class="has-header">
  <form>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="filterText" placeholder="Search">
    </label>
  </form>

	<ion-list>
      <ion-item class="event-row" ng-repeat="event in eventlist track by $index" ng-if="event.title.toLowerCase().indexOf(filterText.toLowerCase()) > -1" href="#/event/detail/:{{event.id}}" ng-click="enterEvent(event.id)">
        <h2>{{event.title}}</h2>

        <p><span><i class="icon ion-ios7-location" ng-if="event.venue"></i>{{event.venue}}</span>
          <span class="location-date-divider" ng-if="event.venue && (event.startDate || event.endDate)">|</span>
          <span><i class="icon ion-calendar" ng-if="event.startDate || evnet.endDate"></i></span>
          <span ng-if="event.startDate && event.endDate && event.isCurrentYear">{{event.startDate | date: 'MMM dd'}} - {{event.endDate | date: 'MMM dd'}}</span>
          <span ng-if="event.startDate && event.endDate && !event.isCurrentYear">{{event.startDate | date: 'MMM dd, yyyy'}} - {{event.endDate | date: 'MMM dd, yyyy'}}</span>
          <span ng-if="event.startDate && !event.endDate && event.isCurrentYear">{{event.startDate | date: 'MMM dd'}} </span>
          <span ng-if="event.startDate && !event.endDate && !event.isCurrentYear">{{event.startDate | date: 'MMM dd, yyyy'}} </span>
          <span ng-if="!event.startDate && event.endDate && event.isCurrentYear">{{event.endDate} | date: 'MMM dd'} </span>
          <span ng-if="!event.startDate && event.endDate && !event.isCurrentYear">{{event.endDate} | date: 'MMM dd, yyyy'} </span>
        </p>
      </ion-item>
  </ion-list>
	</ion-content>
</ion-view>