<ion-view>
  <button menu-toggle="left" id="menu-toggle" class="button button-icon"><span class="ion-chevron-left"></span></button>

  <ion-nav-buttons side="left">
    <h1 class="title" ng-if="selectedTask">{{selectedTask.name}}</h1>
    <h1 class="title" ng-if="!selectedTask" >All Participants</h1>
    <button id="edit-btn" class="button button-clear button-positive" ng-click="toggleEditMode()"><span class="ion-edit"></span></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header">
      <form>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="stdNameFilter" placeholder="Search">
        </label>
      </form>
    <ion-list>
    <!--Participant rows-->
    <div class="item item-divider" ng-repeat-start="(initial, students) in selectedTask.viewModel">{{initial}}</div>
  		<ion-item class="participants-row"  ng-repeat="student in students track by student.id" ng-if="student.isSelected &&(!stdNameFilter || student.name.toLowerCase().indexOf(stdNameFilter.toLowerCase()) > -1)" ng-click="toggleStuInfoDisplay(student.id)" ng-class="{'edit-mode': isEditMode}">

  			<div class="col col-90 task-row-inner">
  				<i class="icon ion-checkmark-circled" ng-click="selectStudent(student.id)" ng-if="student.status" stop-event></i>
          <i class="icon ion-ios7-circle-outline" ng-click="selectStudent(student.id)" ng-if="!student.status" stop-event></i>
  				{{student.name}}
          <div ng-show="selectedRow == student.id" class="item-animate" >
            <label class="editable" ng-if="student.MC">MC</label><br>
            <span class="icon ion-edit"></span>
            <input type="text" style="display:inline" placeholder="MC detail" ng-model="student.MC" stop-event>
            <hr ng-if="student.MC">
            <label>Class</label>
            <p>{{student.class}}</p>
            <hr>
            <label>Tel</label>
            <p>{{student.contactNumber}}</p>
        </div>
          </div>
  			</div>
  		</ion-item>

      <div ng-repeat-end></div>
  	</ion-list>
  </ion-content>

</ion-view>

