<ion-view>
  <ion-nav-buttons side="left">
    <h1 class="title" ng-if="selectedTask">{{selectedTask.name}}: Participants</h1>
    <h1 class="title" ng-if="!selectedTask" >All Participants</h1>
    <button id="edit-btn" class="button button-clear button-positive" ng-click="toggleEditMode()"><span class="ion-compose"></span></button>
  </ion-nav-buttons>
  <button menu-toggle="left" id="menu-toggle" class="button button-icon"><span class="ion-chevron-left"></span></button>
  <ion-content>
    <ion-list>
  		<ion-item ng-repeat="student in selectedTask.status" ng-if="student.isSelected">
  		<div class="row" ng-click="toggleStuInfoDisplay($index)">
        <div class="col col-5">
  			<div class="col col-95">
  				<i class="icon ion-checkmark-circled" ng-click="selectStudent(student.id)" ng-if="student.status && isEditMode"></i>
          <i class="icon ion-ios7-circle-outline" ng-click="selectStudent(student.id)" ng-if="!student.status && isEditMode"></i>
  				{{student.name}}
          <p ng-if="selectedRow == $index">
            {{student.status}}
            {{student.contactNumber}}<br>
            {{student.address}}
          </p>
  			</div>
  		</div>
  		</ion-item>
  	</ion-list>
	</ion-content>
</ion-view>
