<ion-view>
  <button menu-toggle="left" id="menu-toggle" class="button button-icon"><span class="ion-navicon"></span></button>

  <ion-nav-buttons side="left">
    <h1 class="title" ng-if="selectedTask">{{selectedTask.taskName}}</h1>
    <h1 class="title" ng-if="!selectedTask" >All Participants</h1>
  </ion-nav-buttons>
  
  <ion-content class="has-header">
      <form>
        <label class="item item-input search">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="stdNameFilter" placeholder="Search">
        </label>
      </form>
    <ion-list>
    <!--Participant rows-->
    <div class="item item-divider" ng-repeat-start="(initial, students) in selectedTask.viewModel">{{initial}}</div>
  		<ion-item class="participants-row"  ng-repeat="student in students track by student.id" ng-if="!stdNameFilter || student.name.toLowerCase().indexOf(stdNameFilter.toLowerCase()) > -1"  ng-class="{'edit-mode': isTaskEditMode}" ng-click="selectStudent(student.id)">
  			<div class="col col-90 task-row-inner">
          <div class="row">
            <div class="col col-15">
              <i class="icon ion-checkmark-circled"  ng-if="student.status"></i>
              <i class="icon ion-ios7-circle-outline" ng-if="!student.status"></i>
            </div>
            <div class="col col-80">
             {{student.name}}
            </div>
            <div class="col col-5">
             <i class="icon ion-ios7-arrow-forward " ng-click="toggleStuInfoDisplay(student.id)" stop-event></i>
            </div>
          </div>
          <div ng-show="selectedRow == student.id" class="item-animate" >
            <br>
            {{student.data["Guardian Contact 2"]}}<br>
            {{student.data.Level}}
          </div>
  			</div>
  		</ion-item>

      <div ng-repeat-end></div>
  	</ion-list>
  </ion-content>

</ion-view>

