<ion-modal-view>
	<ion-header-bar>
	Choose participants
	</ion-header-bar>

	<ion-content>
	  <form>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="stdNameFilter" placeholder="Search">
    </label>
  	</form>

		<ion-list>
      <ion-item ng-repeat="student in studentlist" ng-if="student.name.indexOf(stdNameFilter) > -1"  ng-click="chooseStudent(student.id)">
        {{student.name}}
        <i class="icon ion-checkmark-circled" ng-if="student.status"></i>
      </ion-item>
  	</ion-list>

	</ion-content>

</ion-modal-view>