<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">CCA</h1>
      <button class="button button-icon ion-plus" ng-click="newUserGroup()"></button>
    </header>
    <ion-content class="has-header">

      <ion-list>
        <ion-item nav-clear menu-close ng-repeat="group in usergroups" ng-click="selectCCA(group,$index)" style="font-size:20px; font-weight:500">
        {{group.title}} <span style="float: right"><i class="icon ion-person-add" style="font-size:20px" ng-click="showMemberModal(group.title);$event.stopPropagation()"></i></span>
        </ion-item>
      </ion-list>
      
    </ion-content>
  </ion-side-menu>
</ion-side-menus>